# Dependencias de Node.js
node_modules/
.angular/

# Dependencias de Angular
dist/

# Archivos de entorno
.env

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
*.log

# Archivos de compilación
lib-cov
coverage
*.lcov
*.ngc.json
tsconfig.json.proj
*.bak
*.lock

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.idea/
.vscode/

# Otros
*.swp
*~
