<div class="flex items-center justify-center min-h-screen transition-colors duration-300" 
     [ngClass]="{'bg-gray-300': !(hoveredUser || hoveredAdmin), 'bg-blue-200': hoveredUser, 'bg-green-200': hoveredAdmin}">
  <div class="text-center shadow-lg rounded-lg border border-black bg-gray-100 p-12">
    <h1 class="text-4xl font-bold mb-16">Selecciona tu Rol</h1>
    <div class="space-x-14">
      <button (mouseenter)="hoveredUser = true" 
              (mouseleave)="hoveredUser = false" 
              (click)="selectRole('user')" 
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition-colors duration-300">
        Usuario
      </button>
      <button (mouseenter)="hoveredAdmin = true" 
              (mouseleave)="hoveredAdmin = false" 
              (click)="selectRole('admin')" 
              class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition-colors duration-300">
        Administrador
      </button>
    </div>
  </div>
</div>
