<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-purple-500">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h2 class="text-3xl font-bold text-center mb-6 text-gray-800">Login Usuario</h2>
    <form (ngSubmit)="login()">
      <div class="mb-4">
        <label class="block text-gray-700 mb-2" for="email">Username</label>
        <input type="text" id="username" class="w-full p-3 border rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400" [(ngModel)]="credentials.username" name="email" required>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2" for="password">Contraseña</label>
        <input type="password" id="password" class="w-full p-3 border rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400" [(ngModel)]="credentials.password" name="password" required>
      </div>
      <button type="submit" class="active:scale-[.98] active:duration-75 hover:scale-[1.03] ease-in-out w-full py-3 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300">
        Iniciar Sesión
      </button>
      <p class="text-red-500 mt-4 text-center" *ngIf="error">{{ error }}</p>
    </form>
    <p class="mt-4 text-gray-600 text-center">¿No tienes cuenta? <a href="/registerUser" class="text-blue-500 hover:underline">Regístrate ahora</a></p>
  </div>
</div>
